<!-- This is the part where it displays ALL the tasks saved in the LOCAL STORAGE-->
<div class="content">

    <!-- Iterate and display EACH task item -->
    <!--
    <app-todo-item *ngFor="let todo of todoArray" [todo]="todo" (remove)="removeTask($event)" (editTaskName)="editTaskName($event)">
    </app-todo-item>
    -->

    <app-todo-item *ngFor="let todo of testTodoList" [todo]="todo"></app-todo-item>

    <!-- Since there is only ONE add button, I decided not to make it a separate component -->
    <!-- After the user types finish the task name, the changeValue() function will be triggered -->
    <!-- The changeValue function will update the 'newTask' to the recently keyed name-->
    <input id="input" placeholder="Task NAME" [value]="newTask" (keyup)="changeValue($event.target.value)"/>

    <!-- When the user click onto this, the newly keyed name will already be updated -->
    <button (click)="addTask(newTask)">Add</button>
</div>