<!-- Changing it to NgRx -->

<div class="content">
    <!-- Iterate and Render out ALL Todo Items in the LIST -->
    <div *ngFor="let todo of todoList" [todo]="todo">
        <!-- These are the following structure EACH TODO ITEM should have -->
        <!-- When user edit the TODO title and press ENTER KEY, it will trigger the XX Function -->
        <input class="task" type="text" [value]="todo.title" (keyup.enter)="edit.emit(todo)"/>
        <!-- When user delete this TODO by clicking onto the Trash ICON, it will trigger the XX Function -->
        <button class="delete" (click)="remove.emit(todo)"><fa-icon class="fa-trash" [icon]='faTrash'></fa-icon></button>
    </div>

    <!-- This is the structure for user to interact and add a TODO item into the list -->
    <input id="input" type="text" placeholder="Task NAME" [value]="newTodo" (keyup)="captureThisName($event.target.value)"/>
    <!-- When user clicks onto the ADD button, it will trigger the XX Function -->
    <button (click)="addThis(newTodo)" >Add</button>
</div>